#main{
    width: 50%;
    margin: auto;
    text-align: center;
    

}
h1{

    font-size: 55px;
    color: brown;
    text-shadow: 3px 15px 10px;
}
h2{
    font-size: 40px;
    color: green;
}
video{
    height: 250px;
}
