body{
    background-color: #eff3f8;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar a{
    text-decoration: none;
}
#navbar input{
    height: 30px;
    font-size: 18px;
}
#navbar button{
    height: 36px;
    margin: 0%;
    font-size: 18px;
}

#navbar input{
    width: 350px;

}
#search_div{
    display: flex;
    flex-direction: column;
}

/* #search_details{
    border: 1px solid black;
    height: 41px;
    width: 400px;
    
} */

#navbar{
    height: 50px;
    background: #1781fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-left{
    display: flex;
    gap:80px;
}
#nav-right{
    display: flex;
    gap:30px;
}
#nav-right a{
    font-size: 18px;   
    color: #fff;
}

#brand a{
    font-size: 2em;   
    color: yellow;
}

/* for container */

#container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#img_div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid black; */
    gap:4%;
}
#sub_div{
    width: 90%;
    margin: auto;
}
#book_div{
    height: 370px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
    padding: 5%;
    background-color: #fff;
}


#book_div img{
    width: 100%;
    height: 80%;
    object-fit:fill;
}

#sub_div h1{
    margin: 50px 0;
    /* font-size:larger; */
    text-transform: capitalize;
}

#sub_div h4{
    margin:0;
}

#a_div a{
    cursor: pointer;
    font-size: small;
}

#a_div a:hover{
    color: #1781fa;
    font-size: large;
}

#a_div hr{
    margin: auto;
    height: 22px;
    border-color: rgb(233, 230, 230);
}

#title_div{
    height: 39px;
    overflow: hidden;
}

