#header{
    position: fixed;
    z-index: 5;
    top: 0;
   text-align: center;
   background-color: #2874f0;
   border: 1px solid black;
   color: #f5fc00;
   height: 50px;
   width: 99%;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#sub_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
   color: white;
   border-bottom: 2px solid white;
}

body{

    background-image: url("http://getwallpapers.com/wallpaper/full/b/a/0/765113-widescreen-technology-background-images-1920x1080.jpg");
}
#back{
    cursor: pointer;
}
#content{
    
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    margin: auto;
   margin-top: 10px;
    background-color: white;
    padding: 2%;
}
#content>img{
    width: 100%;
    height: 20%;
}
#content>div{

    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.card>input{
    width: 80%;
    height: 30px;
    font-size: 20px;
}
.cardname>input{
    width: 75%;
    height: 30px;
    font-size: 20px;
}
.num>input{
    width: 37%;
    height: 30px;
    font-size: 20px;
}
.num{
    display: flex;
    justify-content: space-between;
}
hr{
    height: 3px;
    background-color: black;
}

button{
    margin:auto;
    padding: 10px;
    width: 50%;
    font-size: 16px;
    background-color: rgb(245, 69, 69);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(21, 210, 112);
}